<h3><?php echo __("Listado"); ?></h3>
<h4><?php echo __("Tips"); ?></h4>
<ul>
    <li><?php echo __("En este listado podra visualizar todos los objetivos, y puede tambien hacer tal y tal cosa."); ?></li>
</ul>