/**
 * GENERAL
 */
body {font-family: 'Dosis', sans-serif; font-weight: 400; color: #252628; overflow-y: scroll}
th, a, h3, h1 { color: #d40000 }
h2 {font-size: 1.9em }
h3 {font-size: 2.3em; font-weight: 400 }
h4, h3, h2, h1 {letter-spacing:-1px}
h4, h5 { font-weight: 400}
a:hover {color: #e04145 }
.help-block {font-size: 0.9em; }
#header, .alert {margin-bottom: 5px }
/*ol { counter-reset: item }*/
/*li { display: block }*/
/*lo:before { content: counters(item, ".") " "; counter-increment: item }*/

/**
 * HEADER
 */
#header-container a {font-size: 1.3em; color: #faf9f5; font-weight: 600; text-decoration: none }
#header-container { background-color: #000 }
ul.inline-menu { list-style: none; margin: 0; padding: 0 }
ul.inline-menu li { display:inline-block;  margin: 0; }
#user-menu ul li { padding: 80px 8px 8px 5px; }
#header-container li.active a, #user-menu ul li:hover a {color: #d40000}
#header-container li.active, #user-menu ul li:hover {background-color: #fff; }
#switcher select { margin-top: 58px }


/**
 * Body LEFT SIDE 
 */
#body div.actions { padding-top: 12px;font-size: 1.3em;font-weight: 400}
#body div.actions ul { padding: 0px 10px; background-color: #d40000; }
#body div.actions ul li {margin: 10px 5px; color: #fff}
#body div.actions ul li a { color: #fff }
#body div.actions ul li.active {font-weight: 600}
#body div.actions ul li.active:before {content: ">"}

/**
 * Ayudas RIGHT SIDE
 */
#right-side h3 { font-size: 3em;}
#right-side:before {content: "?"; position: relative; color: #e04145; font-weight: 600; font-size: 16em; position: relative;float: right;margin-top: 70px;margin-right: 20px;}
#right-side:before {-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";filter: alpha(opacity=20);-moz-opacity: 0.2;-khtml-opacity: 0.2;opacity: 0.2; z-index: -1}

/**
 * FORM FIXES
 */
div.select div label {display: inline; margin-left: 5px;}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input { font-family: 'Dosis', sans-serif; font-weight: 400; margin-bottom: 4px; min-height: 30px}
legend { border-bottom-color: #E89292; color:#d40000; font-size: 18px; margin-bottom: 5px; line-height: 1em}
label {margin-bottom: 0;}
.btn-primary { font-weight:600}
.table-condensed td {vertical-align: middle; }
.label-table { min-height: 30px; margin-bottom: 4px;line-height: 30px;}
.label { margin-left: 2px;}
legend .label { top:-3px; position: relative; float: right;}
.label-important[href] { background-color: #d41c00; }
.label-success[href] { background-color: #5bb75b; }
.label-info[href] { background-color: #49afcd; }
td.done { color: green !important}
td.no-done { color: red !important}
.required label:after { content: ' *'; font-size: 0.9em; color:red}
.report {padding-left: 5px;border-left: 2px solid #d40000; margin-bottom: 40px;}
.report label { color: #d40000 }
.report p { font-weight: bold }
.report h3 { margin: 0}

.paging span { margin: 0 5px 0 5px }
.paging span.current { font-weight: 900; font-size: 120%; }

div.login form {
    background-color: #FDFDFD;
    padding: 20px 20px 0px 20px;
    border: 1px solid #C9C9C9;
}
.green { color: green; }
.red { color: red; }
div.error-message { font-weight: bold; font-size: 0.8em}
div.error-message, div.error { color: red }
tr.highlight { font-weight: 200 }