<h3><?php echo __("Agregar"); ?></h3>
<h4><?php echo __("Tips"); ?></h4>
<ul>
    <li><?php echo __("Seleccionar la dependencia"); ?></li>
    <li><?php echo __("Indicar el Año"); ?></li>
    <li><?php echo __("Si es reprogramado, deberá indicarlo"); ?></li>
</ul>