<h3><?php echo __("Planificacion"); ?></h3>
<h4><?php echo __("Tips"); ?></h4>
<ul>
    <li><?php echo __("Agregar un POA"); ?></li>
    <li><?php echo __("Presionar en el botón "); ?> <label class="label label-important"><i class="icon-chevron-right icon-white"></i></label></li>
    <li><?php echo __("Iniciar la planificación"); ?></li>
</ul>