<?php $this->Html->addCrumb(__('Bienvenida'), '/pages/home'); ?>
<div class="row-fluid poas index body-top">
	<div class="title span7">
		<h2><?php echo __('Bienvenidos al SIPOA'); ?></h2>
	</div>
</div>
<div class="row-fluid body-middle">
	<div class="span12">
		<p>Esto sera una bienvenida, donde se explique algo del sistema y una guia muy rapida de uso</p>
	</div>
</div>